@inherits LayoutComponentBase

<div class="page">

    <main>
        <div class="top-row px-4">
            <NavMenu />
        </div>
    @* <div class="sidebar">
    </div> *@

        <article class="content px-4">
            <DashBoard />
        </article> 
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
