    
<h3 class="mb-4 text-secondary">DashBoard</h3>
 
@if (Stats == null)
{
    <p>Loading...</p>
}
else
{
    <div class=" text-secondary">
        <h6 class="text-bold mb-4">
            <b>Total machine count</b>: @Stats.TotalCount
        </h6>
        <h6 class="mb-4">
            <b>Machines online</b>: @Stats.MachinesOnline
        </h6>
        <h6 class="mb-4">
            <b>Locations</b>: @Stats.Locations
        </h6>
        <h6 class="mb-4">
            <b>Last active</b>: @Stats.LastEditedMachineName
        </h6>
    </div>
} 
